
.aa{
    color: black;
    width: 30%;
    display: inline-block;
    margin: 10px;
    text-decoration: black;
    
}
.bb{
    color: whitesmoke;
    width: 20%;
    display: inline-block;
    margin:5%;
    padding: 5%;
    background-color: #282c34;
}